*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 14px; */
    box-sizing: border-box;
}
body{
    margin: 20px;
    border: 1px solid;
    padding: 10px;
}
.spanBox{
    width: 20%;
    background-color: blueviolet;
    color: aliceblue;
    float: left;
}